<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container" style="background-color: rgb(6, 15, 26);">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron" style="background-color: rgba(84, 238, 217, 0.904);">
                    <h1 style="text-align: center;">Gaeul's Page</h1>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>