<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container" style="background-color: rgb(6, 15, 26);">

  <header style="background-color: rgb(45, 46, 46);">
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron" style="background-color: rgba(143, 105, 231, 0.904);">
          <h1 style="text-align: center;">Nicole's Page</h1>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>